-a{
  color: red;
    font-size: 13px;
  }

-div {
  color: #FF3A83
}

-#moya_ssilka{
    color: lime;
}

-#testovaya_ssilka{
     font-size: 20px;
     color: #8737FF;
}

-.human{
